body {
  background-color: #272822;
  color: #cacaca;
  font-family: consolas;
}
.success {
  color: #74aa04;
}
.danger {
  color: #a70334;
}
.warning {
  color: #b6b649;
}
.info {
  color: #58c2e5;
}
.purple {
  color: #89569c;
}
.primary {
  color: #1a83a6;
}
.invisInput {
  background-color: grey;
  border: none;
  //width: 500px;
  color: #cacaca;
  font-family: consolas;
  font-size: 16px;
}
input:focus {
  //border: 1px solid blue;
}
textarea {
  width: 100%;
  height: 100%;
}
a {
  color: #1a83a6;
  text-decoration: none;
}
.dirCol {
  width: 300px;
  float: left;
}
table, tr, th, td {
    border: 2px dotted #4d4d4d;
    border-collapse: collapse;
    padding: 3px;
}