.menu-bar {
    
}
.left-sidebar {
    padding: 0px;
    margin: 0;
    margin-left: 25px;
    height: 100%;
    width: 150px;
    border: 1px solid lightgreen;
    position: absolute;
}
.col-body {
    border: 1px solid lightblue;
    margin-left: 300px;
    margin-right: 25px;
}
.row-menu {
    width: 300px;
}
.top-toolbar {
    width: 100%;
}
td.toolbar {
    width: 100px;
    text-align: center;
    font-size: 10px;
}
td.ltgrey {
    color: lightgrey;
}
.image {
    width: 150px;
    height: 100px;
    border: 1px dotted black;
    padding: 50px;
}
#border {
    border: 10px solid transparent;
    //padding: 15px;
    border-image-repeat: repeat;
    //border-image-source: url(src/img/diamond.png);
    border-image: url(src/img/blueborder.png) 25 round;
}