/*
    Globally Used Style
*/
body {
    //background: linear-gradient(white, #edf7fc);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-image: url("../src/img/bluelines.png");
    background-repeat: no-repeat;
}
#border {
    border: 10px solid transparent;
    padding: 15px;
    border-image-repeat: repeat;
    border-image: url(/scancoord/common/src/img/greyborder.png) 25 round;
}
.btn-default {
    background: lightgrey; /* For browsers that do not support gradients */
    //background: -webkit-linear-gradient(white, lightgrey); /* For Safari 5.1 to 6.0 */
    //background: -o-linear-gradient(white, lightgrey); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(white, lightgrey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, lightgrey); /* Standard syntax */
}
.btn-danger {
    background: lightgrey; /* For browsers that do not support gradients */
    //background: -webkit-linear-gradient(#d99696, #d64f4f); /* For Safari 5.1 to 6.0 */
    //background: -o-linear-gradient(#d99696, #d64f4f); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(#d99696, #d64f4f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d99696, #d64f4f); /* Standard syntax */
}
.text-danger {
    color: #d64f4f;
}
.btn-active {
    background-color: blue;
}
.btn-warning {
    background: #ffa72b; /* For browsers that do not support gradients */
    background: linear-gradient(#ffca80,#ffa72b); /* Standard syntax */
}
.text-warning {
    color: #ffa72b;
}
.btn-success {
    background: #71c98a; /* For browsers that do not support gradients */
    background: linear-gradient(#abdeb9,#71c98a); /* Standard syntax */
}
.text-success {
    color: #71c98a;
}
.btn-surprise {
    background: #c674cc; /* For browsers that do not support gradients */
    background: linear-gradient(#d9b2db,#c674cc); /* Standard syntax */
    color: white;
    border: 1px solid #f2b6e1;
}
.text-surprise {
    color: #c674cc;
}
.btn-inverse {
    background: #c674cc; /* For browsers that do not support gradients */
    background: linear-gradient(#545454,#323632); /* Standard syntax */
    color: white;
}
.btn-info {
    background: #c674cc; /* For browsers that do not support gradients */
    background: linear-gradient(#88caeb,#5ebceb); /* Standard syntax */
    color: white;
}
.text-info {
    color: #5ebceb;
    font-weight: bold;
}
.alert-inverse {
    background: #c674cc; /* For browsers that do not support gradients */
    background: linear-gradient(#545454,#323632); /* Standard syntax */
    color: white;
}
.alert-surprise {
    background: #c674cc; /* For browsers that do not support gradients */
    background: linear-gradient(#d9b2db,#c674cc); /* Standard syntax */
    color: #6a356e;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #e0e0e0;
}
.menuNav {
    font-weight: bold;
}
td.highlight:hover, tr.highlight:hover  {
    background-color: #f2f2f2;
}
td.bhighlight:hover,
tr.bhighlight:hover {
    background-color: #fcc679;
    background: linear-gradient(#fad9aa,#fcc679);
}
tr.click-highlight {
    background-color: #fcc679;
    background: linear-gradient(#fad9aa,#fcc679);
}
thead.float {
    background-color: white;
}
/*
    Pre-loaded Images
*/
span.go-icon {
    background-image: url("../src/img/go.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 40px;
    height: 30px;
}
span.green-goicon {
    background-image: url("../src/img/greenGo.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 40px;
    height: 30px;
}
span.delete-icon {
    background-image: url("../src/img/deleteicon.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.text-tiny {
    font-size: 10px;
}
/*
    Quick Div Widths
*/
.lg-w {
    width: 800px;
}
.md-w {
    width: 500px;
}
.sm-w {
    width: 250px;
}
/*
    Menu Styles
*/
.menuIcon {
    padding: 14px;
    cursor: pointer;
}
.fixedCalc {
    position: fixed;
    top: 15px;
    left: 15px;
    height: 300px;
    border: 0.5px solid #cacaca;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #cacaca;
}
.backToTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0.4;
}
.backToTop:hover {
    cursor: pointer;
}
/*
    Vertical Alignment Helper
*/
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
/*
    Fancy Button Boxes
*/
.buttonbox {
    border: 1px solid lightgrey;
    font-weight: bold;
}
td.buttonbox {
    font-size: 10px;
    padding: 15px;
    text-align: center;
    height: 50px;
    width: 50px;
    background: linear-gradient(#e3e3e3,#ededed);
    opacity: 0.9
    border: 1px solid lightgrey;
}
td.buttonbox:hover {
    cursor: pointer;
}
table.buttonbox {
    border: 2px solid lightgrey;
}